<h2>Permisos</h2>

<button class="btn-register" mat-raised-button color="primary" routerLink="/permission/create">
    <mat-icon>add</mat-icon> Registrar Permiso
</button>

<mat-card>   
  <mat-table [dataSource]="permissions" class="mat-elevation-z8" *ngIf="permissions.length">

    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>N°</mat-header-cell>
        <mat-cell *matCellDef="let permission; let i = index">{{ i + 1 }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
        <mat-cell *matCellDef="let permission">{{ permission.name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>Descripción</mat-header-cell>
        <mat-cell *matCellDef="let permission">{{ permission.description }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="state">
        <mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
        <mat-cell *matCellDef="let permission">{{ permission.active ? 'Activo' : 'Inactivo' }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
        <mat-cell *matCellDef="let permission">
            <a mat-icon-button [routerLink]="['/permission/update', permission.id]">
                <mat-icon>edit</mat-icon>
            </a>
            <button mat-icon-button class="btn-delete" (click)="eliminarPermiso(permission)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnas;"></mat-row>
  </mat-table>

  <div *ngIf="permissions.length === 0" class="text-muted mt-4 text-center">
    <p><i class="fa fa-hourglass"></i> No hay permisos registrados</p>
  </div>
</mat-card>
