<h2 style="text-align: center;">Actualizar Usuario</h2>

<form [formGroup]="form" (ngSubmit)="submit()" class="formulario">
    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Estado</mat-label>
        <mat-select formControlName="state">
            <mat-option value="true">Activo</mat-option>
            <mat-option value="false">Inactivo</mat-option>
        </mat-select>
    </mat-form-field>

    <div class="button-group">
        <button mat-flat-button  type="submit">
            Guardar Cambios
        </button>
        <button mat-raised-button (click)="cancelar()" type="button">Cancelar</button>
    </div>
</form>