<mat-toolbar>
    <span>
        <a  routerLink="" mat-button>
            <mat-icon>security</mat-icon> Security Model
        </a>
        <a routerLink="user" mat-button>
            User
        </a>
        <a routerLink="module" mat-button>
            Module
        </a>
        <a routerLink="rol" mat-button>
            Rol
        </a>
        <a routerLink="form" mat-button>
            Formularios
        </a>
        <a routerLink="permission" mat-button>
            Permisos
        </a>
        <a routerLink="person" mat-button>
            Personas
        </a>
        <a routerLink="rol-user" mat-button>
            Rol-Usuarios
        </a>
        <a routerLink="form-module" mat-button>
            Form-Module
        </a>
        <a routerLink="rol-form-permission" mat-button>
            Rol-Formularios-Permisos
        </a>
        <button mat-button (click)="logout()" type="button" style="background-color: #6499E9;"><mat-icon>logout</mat-icon>logout</button>
    </span>
</mat-toolbar>

