.formulario {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background-color: #f3f3f3;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
  
  .mat-form-field {
    margin-bottom: 20px;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
  
  button {
    flex: 1;
  }
  