<h2 style="text-align: center;">Registrar Form-Module</h2>

<form [formGroup]="form" (ngSubmit)="submit()" class="formulario">
    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Modulo</mat-label>
        <mat-select formControlName="moduleId">
            <mat-option *ngFor="let module of modules" [value]="module.id">
                {{ module.name }}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('moduleId')?.hasError('required')">Requerido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Formulario</mat-label>
        <mat-select formControlName="formId">
            <mat-option *ngFor="let form of forms" [value]="form.id">
                {{ form.name }}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('formId')?.hasError('required')">Requerido</mat-error>
    </mat-form-field>

    <div class="button-group">
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Registrar</button>
        <button mat-raised-button color="primary" type="button" (click)="cancelar()">Cancelar</button>
    </div>
</form>

<div *ngIf="noModulesAvailable" class="text-muted mt-4 text-center">
    <p><i class="fa fa-hourglass"></i> No hay modulos registrados</p>
</div>

<div *ngIf="noFormsAvailable" class="text-muted mt-4 text-center">
    <p><i class="fa fa-hourglass"></i> No hay formularios registrados</p>
</div>
